<div class="auth_wrapper">
  <div class="auth_form">
    <h3>Register</h3>
    <mat-form-field [formGroup]="userForm">
      <mat-label for="username">Username:</mat-label>
      <input matInput id="username" type="text" formControlName="username" />
    </mat-form-field>
    <mat-form-field [formGroup]="userForm">
      <mat-label for="password">Password:</mat-label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <button mat-flat-button (ngSubmit)="register()">Sign up</button>
  </div>
  <a class="auth_redirect_button" [routerLink]="['/auth/login']"
    ><button mat-stroked-button>Login</button></a
  >
</div>
