.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--gray-color);
  border-bottom: 1px solid black;
  padding: 0 15px;
}

.logo_button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.app-cart-button {
  display: flex;
}

.login_icon {
  width: 40px;
  cursor: pointer;
  position: absolute;
  right: 100px;
  background-color: white;
  border-radius: 50%;
}
.login_icon:hover {
  background-color: var(--main-color);
  border-radius: 50%;
  transition: 0.2s;
}

.headers_buttons {
  display: flex;
  position: relative;
  align-items: center;
}

.login_icon-wrapper {
  display: flex;
  align-items: center;
}
