<div class="dialog_header">
  <h2 mat-dialog-title class="dialog_title">{{ (dish$ | async)?.name }}</h2>
  <div mat-dialog-actions class="icon_wrapper">
    <img
      mat-button
      (click)="itemWindowClose()"
      class="close_icon"
      ngSrc="images/close-button.svg"
      alt="close_button"
      width="300"
      height="300"
    />
  </div>
</div>
<div mat-dialog-content class="dialog_content">
  <img
    class="dialog_img"
    src="{{ (dish$ | async)?.image }}"
    alt="{{ (dish$ | async)?.name }}"
  />
  <div>
    <p class="dialog_text">{{ (dish$ | async)?.price | currency }}</p>
    <p class="dialog_text">{{ (dish$ | async)?.description }}</p>
    <div *ngIf="userRole?.includes('admin')">
      <button (click)="updateDish(id)">Update</button>
      <button (click)="deleteDish(id)">Delete</button>
    </div>
  </div>
</div>
