<section>
  <div class="categories">
    <app-categories
      (sendSelectedCategories)="filterByCategory($event)"
    ></app-categories>
  </div>

  <form>
    <app-searcher [formControl]="searcher"></app-searcher>
  </form>

  <div class="menu">
    @for(dish of menu; track dish.id){

    <app-menu-list (click)="openDialog(dish.id!)" [dish]="dish"></app-menu-list>

    }
    <div *ngIf="!menu.length && choosenCategory.length">
      <p>Sorry, no match found. Try to find something else</p>
    </div>
  </div>
</section>
