<section>
  <ul class="categories">
    @for(category of categories; track category){
    <li
      [ngClass]="{ active: choosenCategory === category }"
      (click)="filterByCategory(category)"
    >
      <button mat-button class="category_button">{{ category }}</button>
    </li>
    }
  </ul>
  <app-searcher (searchValue)="searchDish($event)"></app-searcher>
  <div class="menu">
    <app-menu-list
      (click)="openDialog(dish.id)"
      *ngFor="let dish of filteredMenu"
      [dish]="dish"
    ></app-menu-list>
  </div>
</section>
