.menu_list {
  cursor: pointer;
  position: relative;
}

.menu_list-text {
  text-align: center;
}

.menu_list-price {
  position: absolute;
  top: 40px;
  right: 10px;
  padding: 0 3px;
  color: white;
  background-color: var(--main-color);
  border-radius: 8px;
}
