<footer class="footer">
  <div class="footer_logo-wrapper">
    <img class="footer_logo" src="/images/sushi_icon.svg" alt="company_logo" />
  </div>
  <div class="footer_contact">
    <h5 class="sub_header">Call to order</h5>
    <ul class="contact_list">
      <li class="contact_item">+1(234)56789</li>
      <li class="contact_item">+2(345)67890</li>
      <li class="contact_item">+3(456)78901</li>
    </ul>
  </div>
  <div class="footer_schedule">
    <h5 class="sub_header">Schedule</h5>
    <p class="schedule_item">5:00 - 23:00</p>
  </div>
  <div class="footer_location">
    <h5 class="sub_header">Our location</h5>
    <ul class="location_list">
      <li class="location_item">London</li>
      <li class="location_item">Zhytomyr</li>
      <li class="location_item">Capetown</li>
    </ul>
  </div>
</footer>
